@import "tailwindcss";
@plugin "daisyui";

:root {
--text: #c94ba9;
--background: #c25681;
--primary: #b03575;
--secondary: #9c3e7a;
--accent:  #b96b96;

}


.bg-background {

  background-color: var(--accent);
  color: white;
}
.bg-custom{
 background-color: var(--background);
}

.button-primary {
  background-color: var(--primary);
  color: white;
}

.button-secondary {
  background-color: var(--secondary);
  color: #ffffff;
}
.bg-secondary-b{
    background-color: var(--secondary);
}
.custom{
    color: var(--text);
}
.text{
    color:#c94ba9
}