@import "tailwindcss";
@plugin "daisyui";

:root {
--text: #c94ba9;
--background: #fcfafc;
--primary: #d1b5ca;
--secondary: #d893c7;
--accent: #f0b4e1

}


.bg-background {

  background-color: var(--accent);
  color: white;
}
.bg-custom{
 background-color: var(--background);
}

.button-primary {
  background-color: var(--primary);
  color: white;
}

.button-secondary {
  background-color: var(--secondary);
  color: #ffffff;
}
.bg-secondary-b{
    background-color: var(--secondary);
}
